body {
  background-color: #010231;
  color: white;
  text-align: center;
  padding: 2rem;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
}
